<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy">
<link type="image/svg" rel="mask-icon" href="/static/icon.svg">
<link type="image/png" rel="icon" href="/static/icon_256.png">
<link type="image/png" rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icon_144.png">
<link type="image/png" rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/icon_114.png">
<link type="image/png" rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/icon_72.png">
<link type="image/png" rel="apple-touch-icon-precomposed" href="/static/icon_57.png">

<title>wifi</title>

<div class="container">
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <h1>wifi</h1>
</nav>

{{ range .AccessPoints }}
<div class="card" style="margin-top: 10pt;">
  <div class="card-header" role="tab">
    <h5 class="mb-0">{{ .Name }}</h5>
  </div>

  <div role="tabpanel">
    <table class="table card-body">
      <thead>
        <tr>
          <th scope="col">ip <small><i>(mac)</i></small></th>
          <th scope="col">hostname <small><i>(vendor)</i></small></th>
        </tr>
      </thead>
      <tbody>
  {{ range .Clients }}
        <tr>
          <td>
    {{ if eq (len .IPs) 0 }}
            <small><i>{{ .MAC }}</i></small>
    {{ else }}
            {{ join .IPs ", " }} <small><i>({{ .MAC }})</i></small>
    {{ end }}
          </td>
          <td>
    {{ if and (eq .Hostname "") (eq .Vendor "") }}
    {{ else if eq .Hostname "" }}
            <small><i>{{ .Vendor }}</i></small>
    {{ else if eq .Vendor "" }}
            {{ .Hostname }}
    {{ else }}
            {{ .Hostname }} <small><i>({{ .Vendor }})</i></small>
    {{ end }}
          </td>
        </tr>
  {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}

</div>
